{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:main-index' %}">
            <img src="{% static 'main/img/logo.png' %}" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'main:main-index' %}">Home</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'main:main-about' %}">About</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'listing:index' %}">Featured Listings</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_active %}
                    <li class="nav-item mr-3">
                        <a href="{% url 'account:dashboard' %}" class="nav-link">
                            Welcome {{ user.username }} (Dashboard)</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="{% url 'account:logout' %}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'account:register' %}">
                            <i class="fas fa-user-plus"></i> Register</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="{% url 'account:login' %}">
                            <i class="fas fa-sign-in-alt"></i>

                            Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>